/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top:50px;
}
.navbar.navbar-default {
    background: #0f6188 none repeat scroll 0 0;
    color: #fff;
}
.admin-page-wrapper {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    font-size: 13px;
    height: 100%;
    min-height: 640px;
    min-width: 980px;
    opacity: 1;
    position: static;
    width: 100%;
}
.admin-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color:  #36a9e1;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 3px;
    bottom: 0;
    height: auto;
    min-height: 640px;
    min-width: 980px;
    position: absolute;
    top: 50px;
    width: 100%;
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #FFFFFF;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background: #074b6b none repeat scroll 0 0;
    color: #fff;
}
.nav-sidebar > li > a {
    color: #FFFFFF;
}
.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
    color: #FFFFFF;
}
.nav-sidebar > li > a:hover {
    background: #074b6b none repeat scroll 0 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #074b6b;
    color: #FFFFFF;
}
.navbar {
    margin-bottom: 0;
    min-height:40px;
}
.avatar-xs {
    width: 30px;
    height: 30px;
}
.img-circle {
    border-radius: 50%;
}
.admin-content-container {
    border: 1px solid #dddddd;
    bottom: 20px;
    height: 640px;
    overflow-y: scroll;
    padding: 15px;
    overflow-x: hidden;
}
.triangle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #fff transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 29px;
    width: 0;
}
.input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #eee #eee #eee #36a9e1;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 2px;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    height: 39px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 6px 10px 6px 10px;
    resize: none;
    transition: box-shadow 200ms ease 0s;
    width: 100%;
}
.input:hover,.input:focus {
    box-shadow: 0 0 15px #e0e0e0 inset;
}
.custom-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #86c953 none repeat scroll 0 0;
    border-color:  #76b447;
    border-image: none;
    border-radius: 3px;
    border-style: none none solid;
    border-width: medium medium 2px;
    color: #fff;
    cursor: pointer;
    display: block;
    outline: medium none;
    padding: 8px 22px;
    position: relative;
    text-decoration: none;
    transition: background 200ms ease 0s;
}
.custom-button:hover,.custom-button:focus{
    background: #94d662 none repeat scroll 0 0;
}
.custom-button.warning {
    background: #ff944d none repeat scroll 0 0;
    border-bottom: 2px solid #d87000;
}
.custom-button.warning:hover {
    background: #ffae77 none repeat scroll 0 0;
}
.nav.nav-tabs > li > a {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #000;
    display: inline-block;
    line-height: 18px;
    margin: 0 -4px 0 0;
    outline: medium none;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
}
.nav.nav-tabs > li > a:hover {
    border-top: 2px solid #94d662;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: #fff none repeat scroll 0 0;
    border-bottom-color: #fff;
    border-top: 3px solid #86c953;
}
.tab-content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-top: -1px;
    padding: 0;
    padding-top:20px;
}
.carousel-preview {
    width: 50px;
    height:50px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
.fullnames {
    max-width:120px;
    white-space:nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.avatar-m {
    width:60px;
    height: 60px;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background: #0f6188 none repeat scroll 0 0;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
    font-size: 25px;;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.thumb {
    max-height: 150px;
    max-width: 150px;
    border-radius: 6px;
}
img.edit-article-preview {
    max-width: 80px;
    max-height: 80px;
    border-radius: 6px;
}
.nav-tabs > li {
    margin-bottom: -7px;
}