.chatbox {
    position: fixed;
    width: 225px;
    display:none;
}

.chatboxhead {
    background-color: #f10084;
    padding:7px;
    color: #ffffff;
    max-height: 40px;
    border-right:1px solid #f10084;
    border-left:1px solid #f10084;
}

.chatboxblink {
    background-color: #176689;
    border-right:1px solid #176689;
    border-left:1px solid #176689;
}

.chatboxcontent {
    background-color: #edeef1;
    border: 1px solid rgba(29, 49, 91, 0.09);
    color: #90949c;
    font-family: arial,sans-serif;
    font-size: 13px;
    height: 200px;
    line-height: 1.3em;
    overflow-y: scroll;
    padding: 7px;
    width: 225px;
}

.chatboxinput {
    background-color: #ffffff;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}

.chatboxtextarea {
    width: 220px;
    height:44px;
    padding:3px 0pt 3px 3px;
    border: none;
    margin: 1px;
    overflow:hidden;
    resize: none;
    border:none;
    font-size:12px;
}
.chatboxtextarea:focus {
    box-shadow:none;
}
.chatboxtextareaselected {
    box-shadow: none;
}
.chatboxmessage {
    margin-left:1em;
}

.chatboxinfo {
    margin-left:-1em;
    color:#666666;
}

.chatboxmessagefrom {
    margin-left:-1em;
    font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
    float: right;
}

.chatboxoptions  a {
    text-decoration: none;
    color: #FFFFFF !important;
    font-weight:bold;
    font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
    float: left;
    max-width: 125px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
*::-moz-placeholder, *:-moz-placeholder {
    color: #90949c;
}

.chat-object {
    margin: 10px 8px;
    position: relative;
}
.chat-object .chat-user-photo {
    bottom: 0;
    left: 0;
    position: absolute;
}
.chat-object .chat-user-photo a {
    float: left;
    height: 28px;
    position: relative;
    width: 28px;
}
.chat-object .chat-user-photo a::after {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.chat-object .chat-user-photo a img {
    border-radius: 2px;
    height: 28px;
    width: 28px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.chat-object .chat-info {
    line-height: 1.28;
    overflow: hidden;
    padding: 0 0 1px;
    text-align: left;
    direction: ltr;
}
.chat-object .chat-info:last-child {
    padding-bottom: 0;
}
.chat-object .chat-info-inner {
    margin-left: 36px;
    min-height: 26px;
}
.chat-object .chat-info .chat-info-inner .message {
    clear: left;
    float: left;
    position: relative;
}
.chat-object .chat-info .chat-info-inner .message > .msg {
    max-width: 142px;
    width: 142px;
    word-wrap: break-word;
    border-radius: 12px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
    background-color: #fefefe;
    border: 1px solid #d5d5d5;
    float: left;
    color: #4b4f56;
    min-height: 22px;
    min-width: 14px;
    overflow: hidden;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    white-space: pre-wrap;
}
.chat-object .chat-info .chat-info-inner .message > .msg .text {
    color: #4b4f56;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    white-space: pre-wrap;
    padding: 5px 8px 4px;
}
/* color schemes */
.self.chat-object .chat-info .chat-info-inner .message > .msg {
    background-color: #f10084;
    border: 1px solid #f10084;
}
.self.chat-object .chat-info .chat-info-inner .message > .msg .text {
    color: #ffffff;
    text-shadow: none;
}
/*color schemes*/

.name-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80px;
    display: inline-block;
    overflow: hidden
}
.settings-title h3 {
    margin-top:0;
    font-weight:400;
}
