body {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #0f6188 none repeat scroll 0 0;
    color: #fff;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .space {
    margin-top: 100px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
#admin-login input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#admin-login input[type="password"] {
    border-radius: 0;
}
div.container {
    max-width: 300px;
}
div.container div.space {
    margin-top:100px;
}
div.container button {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}