html{
    color: #777;
    font-family: "Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-size: 88%;
    line-height: 1.2;
}

body {
    background-color: #e5e5e5;
    font: 13px Roboto,arial,sans-serif;
    height: 100%;
    overflow-y: scroll;
    visibility: visible;
    padding: 50px 0 0;
}
a:hover,a:focus,button:hover,button:focus {
    outline:none;
}
.navbar {
  margin-bottom: 20px;
  max-height:20px;



}
.for-input {
  background-color: #eee;
  cursor: pointer;
}
.forinput-padding {
  padding: 12px;
}
.small-round-avatar {
    width: 60px;
    height: 60px;
    border-radius: 6px;
}
.homepage-hero{
    background-attachment: scroll, scroll, scroll;
    background-clip: border-box, border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.35)), linear-gradient(rgba(98, 0, 118, 0.8), rgba(215, 0, 118, 0.8)), url("../img/bg.jpg");
    background-origin: padding-box, padding-box, padding-box;
    background-position: 0 0%, 0 0%, center center;
    background-repeat: repeat, repeat, no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.homepage-hero .jumbotron{
    background-color: transparent;
}
.homepage-hero .hero-title{
    font-size: 3.143em;
    margin: 0 0 18px;
    font-weight: normal;
    color: #fff;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 0.02em;
    margin: 0;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 25px;
    font-family: "FS Albert Pro Web",Helvetica,Arial,sans-serif;
	text-align: center;
}
.homepage-hero p {
    font-weight: 200;
    font-size: 18px;
    color: #fff;
}
.homepage-hero .hiro-content{
}
.homepage-hero .hiro-content .left-content{
    padding-top: 80px;
}
.navbar{
    margin-bottom: 0;
}
.btn-jobite{
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    margin-top: 1.42857rem;
    padding: 1.42857rem 1.42857rem 1.28571rem;
    margin-top: 2.85714rem;
    color: #fff;
}
.btn-jobite:focus,.btn-jobite:hover{
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
}
.hiro-or{
    color: #fff;
    margin-left: -40px;
    margin-top: 59px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
}
.jumbotron{
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top:0;
}
.navbar-default{
    background-color: #fff;
    border-radius: 0;
}
.end-hiro{
    width: 100px;
    margin: 0 auto;
}
.end-hiro .show{
    position: absolute;
}
.btn-primary{
    background-color: #d70076;
    border-color: #d70076;
}
.btn-primary:hover,.btn-primary:focus{
    background-color: #f10084;
    border-color: #f10084;
    color: #fff;
}
.ibutton{
    border: 2px solid transparent;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    margin: 0 10px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
}
.button2{
    background: #f10084 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
    margin-top: -4px;
    padding: 0 25px;
    border-radius: 30px;
}
.button1{
    background: #f10084 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
    margin-top: -4px;
    padding: 0 25px;
    border-radius: 30px;
}
.button1:hover,.button1:focus{
    background: #fff none repeat scroll 0 0;
    color: #f10084;
}
.button2:hover,.button2:focus{
    background: #f10084 none repeat scroll 0 0;
}
.btn-radius{
    border-radius: 22px;
}
.btn-extra{
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #f10084;
}
.btn-extra:hover,.btn-extra:focus{
    border: 2px solid #f10084;
    background: #fff none repeat scroll 0 0;
}
.btn-transparent {
    background-color: transparent;
}
.header-less-modal{
    padding: 0;
    margin-top: 20px;
}
.header-less-modal .modal-title{
    padding-bottom: 20px;
    font-weight: 200;
}
.btn-link{
    color: #f10084;
}
.login-column{

}
.splash-panel{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffffff 0%, #ffffff 50%, #f0f0ed 50%, #f0f0ed 100%) repeat scroll 0 0;
    box-shadow: 0 15px 12px 0 rgba(0, 0, 0, 0.22), 0 19px 38px 0 rgba(0, 0, 0, 0.3);
    margin-top: 25%;
}
.header-line{
    border-bottom: 2px solid #f10084;
    margin-bottom: 10px;
}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus
{
    /*background-color: #f10084;*/
}
img.logo{
    height: 40px;
    margin-top: -10px;
}
.container.white{
    background-color: #ffffff;
    border: 1px solid transparent;
    padding-top: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    min-height: 580px;
    padding-left: 5px;
    padding-right: 5px;
}
.container.white > .row {
    margin-left: 0;
    margin-right: 0;
}
.panel-default > .panel-heading
{
    border-left: 1px solid #f10084;
    background-color: #f10084;
border-color: #f10084;
color:white;
}
.profile-avatar {
    width: 210px;
    height: 210px;
    border-radius: 6px;
}
.search-container {
    border: 1px solid #ccc;
    padding: 20px;
}
.avatar-sm {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.logo-sm {
    max-height: 40px;
    max-width: 80px;
}
.employer-logo-big {
    max-width: 200px;
    max-height: 80px;
}
#footer {
    bottom: 0;
    margin-top: 20px;
	position: fixed;
}
#footer  ul.links{
    list-style-type: none;
}
#footer  ul.links > li{
    display: inline-block;
}
#footer  ul.links > li > a{
    color: #f10084;
	border-bottom: 1px solid rgba(77, 77, 77, 0.3);
	cursor: pointer;
	transition: color 0.2s ease 0s, border-color 0.2s ease 0s;

}
#footer  ul.front-links{
    list-style-type: none;
}
#footer  ul.front-links > li{
    display: inline-block;
}
#footer  ul.front-links > li > a{
    color: #ffffff;
	border-bottom: 1px solid rgba(77, 77, 100, 0.3);
	cursor: pointer;
	transition: color 0.2s ease 0s, border-color 0.2s ease 0s;

}

#sidebar > ul > li > a{
    border-bottom: 1px solid #e1e8ed;
    color: #666;
}
#sidebar > ul > li > a:hover,#sidebar > ul > li > a:focus{
    background-color: #f10084;
    color: #fff;
    border-right: 2px solid #f10084;
}
#sidebar > ul > li > a.last{
    border-bottom: none;
}
.panel.panel-red{
    border-color: #ddd;
    border-left: 2px solid #f10084;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding-left: 0;
    padding-right: 0;
}
.panel.panel-red .panel-heading{
    display: block;
    padding: 2px 15px;
    position: relative;
    border-bottom: 1px solid #e1e8ed;
    color: #666;
    background-color: #eee;
    border-right: 2px solid #f10084;
    font-size: 18px;
}
#sidebar > ul > li.heading{
    display: block;
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid #e1e8ed;
    color: #666;
    background-color: #eee;
    border-right: 2px solid #f10084;
}
#sidebar > ul > li.active > a{
    background-color: #f10084;
    border-right: 2px solid #f10084;
    color: #fff;
}
.alert-info.info{
    background-color: #fff;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #f10084;
    border-color: #f10084;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.modal-content{
    border-left: 2px solid #f10084;
}
.modal-header {
    border-right: 2px solid #f10084;
    color: #666;
    background-color: #eee;
    padding: 8px;
}
.alert-danger{
    border-left: 2px solid #f10084;
}
.red-line{
    border-left: 2px solid #f10084 !important;
}
.btn-red {
    background: #f10084 none repeat scroll 0 0 !important;
}
.button-sm {
    line-height: 30px;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: -4px;
    padding: 0 10px;
}
.padded {
    padding: 15px;
}
.page-container{

}
.page-container .page-title{
    margin-bottom: 20px;
}
.page-container .page-title > h4 {
    color: #f10084;
    font-size: 24px;
}
.stat-box{
    width: 150px;
    min-height: 150px;
    border-radius: 50%;
}
.stat-box.stat-green{
    background-color: #49a32b;
    color: #fff;
    vertical-align: center;
}
.stat-box.stat-red{
    background-color: #f10084;
    color: #fff;
    vertical-align: center;
}
.stat-box.stat-blue{
    background-color: #0084b4;
    color: #fff;
    vertical-align: center;
}
.stat-box.stat-green > .item,.stat-box.stat-red > .item,.stat-box.stat-blue > .item{
    padding-top: 75px;
    vertical-align: center;
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.hiring {
    margin-top: 40px;
    text-align: center;
}
.hiring > h2{
    font-size: 36px;
    font-weight: 100;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 0.02rem;
    margin: 0;
    color: #666;
}
.employer-container .employer {

}
.employer-container .employer > img{
    max-width: 250px;
    max-height: 100px;
}

.panel-noheading .panel-body{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.avatar-xs {
    height: 30px;
    width: 30px;
    border-radius: 6px;
}
.navbar-nav{

}
.navbar-nav > li > a {
  padding-bottom: 10px;
  padding-top: 10px;

}
#progressbar {
  counter-reset: step;
  margin-bottom: 30px;
  overflow: hidden;
  padding-left: 0;
  margin-top: 20px;
}
#progressbar li {
  color: #666;
  float: left;
  font-size: 9px;
  list-style-type: none;
  position: relative;
  text-transform: uppercase;
  width: 33.33%;
  text-align: center;
}
#progressbar li::after {
  background: white none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: -50%;
  position: absolute;
  top: 17px;
  width: 100%;
  z-index: -1;
}
#progressbar li.active::before, #progressbar li.active::after {
  background: #d70076 none repeat scroll 0 0;
  color: white;
}
#progressbar li::before {
  background: white none repeat scroll 0 0;
  border-radius: 6px;
  color: #333;
  content: counter(step, decimal);
  counter-increment: step;
  display: block;
  font-size: 10px;
  line-height: 35px;
  margin: 0 auto 5px;
  width: 50px;
}
#progressbar li:first-child::after {
  content: none;
}
.avatar-lg {
    width: 120px;
    height: 120px;
    border-radius: 6px;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #f10084;
    border-color: #f10084;
}
.avatar-md {
    width: 60px;
    height: 60px;
    border-radius: 6px;
}
.panel {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  box-shadow: none;
}
.panel-body {
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.panel.noheading .panel-body{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.s-bar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #d8d8d8;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 0 1px 2px;
    box-sizing: border-box;
    vertical-align: top;
	max-width: 170px;
	/*position: fixed;*/
}
.list-group-item {
    background-color: white;
    border-left: 2px solid transparent;
    color: #262626;
    list-style: outside none none;
    margin-top: 1px;
    transition: border 0.218s ease 0s;
    border-top: none;
    border-bottom-color: #eee;
}
a.list-group-item {
  color: #262626;
}
a.list-group-item >span{
    color: #999a;
    font-weight: 100;


}
a.list-group-item:hover > span {
    color: #252525;
}
a.list-group-item:hover,a.list-group-item:focus {
    background-color: transparent;
    color: #252525;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #eee;
    border-color: #eee;
    border-left: 2px solid  #f10084;
    color: #262626 !important;
    font-weight: bold;
}
.list-group-item.active > span, .list-group-item.active:hover > span, .list-group-item.active:focus > span {
    color: #262626;
}
.avatar-custom {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.box {
    background-size: 100% 98px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;



}
.box-feed {
    background-size: 100% 98px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
	max-width: 500px;
	background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom:10px;


}
.box {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom:10px;


}
.box2 {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom:10px;
	width: 200px;
	overflow-y:auto;
	max-height: 220px;

}
.box4 {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom:10px;
	overflow-y:auto;
	margin-top: -10px;
	max-height:300px;


}
.chat-box{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom:10px;
	max-width: 200px;
	overflow-y:auto;
	overflow-x:ellipsis;
	max-height:400px;

}

.user-nav-fixed{
	position: fixed;
}

.box .box-title {
    color: #333333;
    border-bottom: 1px solid #e7e7e7;
}
.box .box-title h5 {
    margin-bottom: 10px;
    margin-top:5px;
}
.box .box-content {
    padding:10px;
}
.recent-connection-content{
	padding: 10px;
}
a.list-group-item span.username {
    color: #404040;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #262626;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-txt {
    resize: none;
    height: 20px;
}
.post-txt:focus {
    border-color: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.avatar-xs-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.avatar-xxs-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
h2.title {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 7px 24px;
}
.connection {
    margin-right: 10px;
    margin-bottom: 5px;
}
.fullnames {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}
.connection-item {
    border-top: 1px solid #dedede;
    padding-bottom:4px;
    padding-top: 4px;
}
.connection-item:first-child {
    border-top:none;
}
.focus-txt {
    height: 300px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
.normal-txt {
    height: 35px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
.post-icons-container {
    margin-top: -30px;
    padding-left: 10px;
}
.post-icons-container .icon {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    color: #999;
}
.post-icons-container .icon:hover {
    color: #262626;
}
.post-btn-container {
    margin-top: 20px;
}
.comment-box{
    max-height: 30px !important;
    border-color: #eee;

}
.comment-box:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-color: #ccc;
}
.comment-container {
    margin-top: 10px;
}
.font-btn {
    font-size: 16px;font-weight: bold;
    color: #404040;
}
.logo-img {
    max-width:250px;
    max-height:45px;
    margin-top:-10px;
}

.signup-hero {
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    min-height: 250px;
    max-width: 300px;
	margin: 10px 0px 50px 0px;

}
.social-login {
    margin-bottom: 40px;
}
.social-login > a {
    display: inline;
}
.social-login > a:first-child {
    margin-right: 15px;
}
.signup-title {
    font-size: 1.714em;
    line-height: 1.167;
    margin: 0 0 15px;
    color: #747474;
    margin-bottom: 20px;
}
.signup-agreement {
    font: 0.786em/1.63 Helvetica,Arial,sans-serif;
    padding: 4px 0 0;
    color: #fbfbfb;
}
.lgrey {
  color: #bfbfbf;
}
.link {
  border-bottom: 1px solid rgba(77, 77, 77, 0.3);
  cursor: pointer;
  transition: color 0.2s ease 0s, border-color 0.2s ease 0s;
}
.search-form {


}
.search-form .btn.btn-default {
    background-color: #f10084;
    border: medium none;
    color: #ffffff;
    margin-left: -34px;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    /*position: absolute;*/
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    padding-top:9px;
}
.search-form input[type="text"] {
    min-width: 350px;
	width:auto;
	overflow:hidden;
    padding-right: 30px;
    /*box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.54);
}
.search-form input[type="text"]:focus {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    font-family: "Open Sans","Helvetica Neue","sans-serif";
    font-size: 14px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f10084;
    color: rgba(0, 0, 0, 0.87);
}
.input{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #eee #eee #eee #f10084;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 2px;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    height: 39px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 10px;
    resize: none;
    transition: box-shadow 200ms ease 0s;
    width: 100%;
}
.input:hover,.input:focus{
    box-shadow: none;
}
.input:focus,.input:active{
    border: 1px solid #f10084;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.87);
}
.hidden-input{
	border: white;
	color: white;
}
.hidden-input:focus,.input:active{
	border: white;
	color: white;
}
.arrow-
 {
    text-align: center;
    color: #FFFFFF;
    font-size:38px;
}
.signup-step2 .heading {
    padding-bottom:10px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom:10px;
}
.signup-step2 .heading h3 {
    margin-top:0;
}
.box {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom:10px;
}
.box .box-title {
    color: #333333;
    border-bottom: 1px solid #e7e7e7;
}
.box .box-title h5 {
    margin-bottom: 10px;
    margin-top:5px;
}
.box .box-content {
    padding:10px;
}
.upload-photo-container {
    min-height:250px;
}
.getstarted-right {
    background: white none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    height: 550px;
    margin-left: 2%;
    margin-top: 20px;
    opacity: 0.5;
    width: 56%;
}
.getstarted-right.shadow {
    box-shadow: 0 3px 0 0 lightgrey;
}
.getstarted-right .title {
    border-bottom: 2px solid #e2e2e2;
    color: #808080;
    font-size: 20px;
    margin: 0;
    padding: 10px 20px;
}
.getstarted-right .title span {
    color: lightgrey;
    display: block;
    font-size: 15px;
    margin-top: 5px;
}
.member-container {
    background: rgba(0, 0, 0, 0) url("../img/user-mockup.png") repeat scroll 0 0;
    height: 400px;
    margin-bottom: 37px;
    overflow: auto;
    padding: 10px;
}
.member-footer {
    background: #e2e2e2 none repeat scroll 0 0;
    padding: 7px 20px;
}
.getstarted-left {
    float: left;
    margin-top: 20px;
    min-height: 400px;
    position: relative;
    width: 35%;
}
.getstarted-left .content {
    min-height: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
    background: #52b3d9 none repeat scroll 0 0;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.getstarted-left .content h3{
    color: white;
    margin: 5px 0;
    font-size: 28px;
}
.getstarted-left .content p {
    color: #696969;
    margin-top: 20px;
    font-size: 13px;
}
.padded {
    padding: 15px;
}
.avatar-lg {
    width: 100px;
    height:100px;
    border:none;
}
.modal-header {
    padding: 5px 15px;
    background: #d70076 none repeat scroll 0 0;
    color: #FFFFFF;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.modal-body {
    padding:10px;
}
.change-photo {
    margin-bottom:10px;
}

.user {
    border-bottom: 1px solid #e7e7e7;
    margin: 5px 0;
    padding: 10px;
    position: relative;
    width: 250px;
}
.msg-cont{
	max-height: 500px;
	overflow: auto;

}
.user .media-object {
    height: 40px;
    /*overflow: scroll;*/
    width: 50px;
}
.user-popover {
    width: 90%;
}
.user .media-object img {
    min-height: 100%;
    width: 100%;
    border-radius: 10px;
}
.user .media-body {
    padding: 10px 0;
}
.media-body a {
    color: #2b2b2b;
}
.user .media-body .media-heading {
    color: #0066cc;
	font-weight: bold;
}
.notification-heading{
    color: #0066cc;
	font-weight: normal;
}

.user .media-body .media-heading span {
    color: #808080;
    display: block;
    font-weight: normal;
    margin-top: 4px;
}
.user .media-body .media-heading span > span {
    color: #ffffff;
    display: inline;
}
.user .media-body .action-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
}
.left-column {
    width:180px;
}
.middle-column {
    /*width:600px;*/
}
.right-left {
    width:220px;
}
.left-column-span {
    width:780px;
}
.right-column-span {
    width:820px;
    padding-left:10px;
    padding-right:10px;
}
.post-box-container {
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.4);
    padding:0;
	overflow: auto;
	max-height: 400px;
	max-width: 500px;

}
.post-box-container:focus, .post-box-container:hover {
    outline:none;
}
.post-box-container .box-content {
    padding: 17px;
    background-color: #f5f5f5;

}
.post-box-container .box-footer {
    padding: 17px;
    text-align: left;
}
.post-box-container.sweet-alert .form-group{
    display: block;
}
.post-box-avatar {
    width:60px;
    height:60px;
}
textarea.post-content {
    background-color: white;
    border: 1px solid #e4e4e4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04) inset;
    color: #404040;
    cursor: text;
    padding: 10px;
    position: relative;
    vertical-align: top;
    width:100%;
    resize: none;
	overflow: auto;
}
.arrow-left {
    background-color: white;
    border-top: 1px solid #e4e4e4;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.04) inset;
    cursor: text;
    display: block;
    height: 15px;
    left: -15px;
    position: absolute;
    top: -1px;
    width: 20px;
}
ul.post-icons{
    list-style-type: none;
    margin:0;
    padding:0;
    text-align: left;
}
ul.post-icons li{
    display: inline-block;
    padding:5px;
}
ul.post-icons li a{
    color: #737373;
}
ul.post-icons li a:hover,ul.post-icons li a:focus {
    text-decoration: none;
}
ul.post-icons li a > span.fa{
    font-size:18px;
}
ul.post-icons li a > span.txt {
    font-weight:bold;
    font-size:12px;
}
ul.post-icons li a > span.txt:hover {
    color: #333;
}
.green {
    color: #5cb85c;
}
.primary {
    color: #d70076;
}
.yellow {
    color: #f0ad4e;
}
.media-selected {
    background: #f5f5f5 none repeat scroll 0 0;
    display: block;
    padding: 0 10px;
    position: absolute;
    z-index: 100;
    margin-top:-24px;
    margin-left:2px;
    width:463px;
    color: #555555;
    text-align: left;
}
.media-selected > span:first-child {
    border-right: 1px solid #e7e7e7;
    padding-right:5px;
    margin-right: 10px;
}
.badge.badge-notify.badge-special {
    position: absolute;
    left:10px;
    top:2px;
    z-index: 100;
}
.flash-wrapper {
    padding:3px;
    min-width:960px;
    color: #ffffff;
    position: absolute;
    text-align: center;
    border-radius: 15px;
    z-index: 2000;
    top: 55px;
    opacity: 0.60;
    display: none;
    background-color: #f10084;
}
.flash-wrapper p{
    font-weight: bold;
}

time.timeago {
    font-size: 12px;
}
div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 5px;
    color: gray;
}
.post-img-preview {
    max-width:100%;
    max-height:450px;
}
#feeds-container {
    margin-top:10px;
	word-wrap: break-word;

}
#feeds-container .post-header {
    margin-bottom:10px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 5px;
}
.user-media-photo {
    margin-right: 10px;
}
.user-media-info h5.names {
    margin-top:0;
}
.user-media-info h5.names a {
    font-weight:bold;
}
.user-media-info h5.names span {
    color: #555;
    font-size: 14px;
    font-weight:normal;
}
.user-media-info h5.names time {
    color: #90949c;
    font-size: 13px;
    font-weight:normal;
}
.post-content {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom:10px;
}
.comments {
    border-left:2px solid #8c0095;
}
.posts-comments {
    padding-top: 5px;
}
.posts-comments .post-icons {
    padding-bottom:5px;

}
.posts-comments .post-icons ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}
.posts-comments .post-icons ul li {
    display: inline-block;
    margin-right: 20px;
}
.posts-comments .post-icons ul li a {
    font-weight:bold;
    color: #7f7f7f;
    font-size:13px;
}
.posts-comments .comments {
    border-top: 1px solid #e7e7e7;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #f6f7f9;
    border-radius: 0 0 3px 3px;
    color: #1d2129;
    overflow: visible;
    width: auto;
    padding-top:10px;
    padding-bottom:10px;
	max-width:500px;
	word-wrap:break-word;
	overflow: hidden;
}
.timeago {
    color: #90949c;
}
.posts-comments .comments .comment-box {
}
.posts-comments .comments .comment-box .left {
    margin-right:10px;
    max-width:40px;
    max-height: 40px;

}
.posts-comments .comments .comment-box .right {
   width:90%;
   max-width:500px;

}
.posts-comments .comments .comment-box .right textarea {
    height:32px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}
.posts-comments .comments .comment-box .right textarea:hover, .posts-comments .comments .comment-box .right textarea:focus {
    box-shadow: none;
}
.list-comments ul {
    margin:0;
    padding:0;
    list-style-type: none;
	max-width:500px;
	word-wrap:break-word;
}
.list-comments .comment-content a {
    font-weight:bold;
    font-size:13px;
}
.avatar-m {
    width:50px;
    height:50px;
}
.post-images {

}
.images-1 {
    max-height: 450px;
    max-width: 100%;
}
.images-2 {
    width:50%;
}
.images-2 img {
    height:400px;
    width:100%;
    padding:1px;
}
.three-two,.three-one {
    width:50%;
}
.three-one img {
    width:100%;
    height:400px;
    padding:1px;
}
.three-two img {
    height: 200px;
    width:100%;
    padding:1px;
}
.four-img {
    width:50%;
}
.four-img img {
    width:100%;
    height:200px;
    padding:1px;
}
.five-mg-three {
    width:50%;
}
.five-img-two {
    width:50%;
}
.five-img-two img {
    width:100%;
    height:225px;
    padding: 1px;
}
.five-mg-three img {
    height: 150px;
    width: 100%;
    padding: 1px;
}
.default-img{
    width:50%;
}
.default-img img {
    width:100%;
    padding: 1px;
    height:200px;
}
.feed-react .react-icons {
    background: white none repeat scroll 0 0;
    border: 1px solid #e4e2e2;
    border-radius: 30px;
    bottom: 25px;
    box-shadow: 2px 1px 3px #edecec;
    display: none;
    left: -20px;
    padding: 5px;
    position: absolute;
    width: 300px;
    z-index: 99;
    display: none;
}
.feed-react .react-icons ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.feed-react .react-icons ul li {
    display: inline-block;
    margin: 3px;
}
.feed-react .react-icons ul li img {
    width: 35px;
}
/*.feed-react:hover .react-icons, .feed-react:focus .react-icons{
    display: block;
}*/
.avatar-xx {
    width:30px;
    height:30px;
}
.circle-img {
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
.reactions{
    text-align: center;
    vertical-align: middle;
    padding:5px;
    border-bottom:1px solid #e7e7e7;
    width:105%;
    margin-left:-14px;
}
.reactions ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
.reactions ul li {
    display: inline-block;
}
.reactions ul li a {
    padding:2px;
}
.reactions ul li a img.type {
    border-radius: 100px;
    height: 15px;
    min-height: auto;
    position: absolute;
    margin-left: -15px;
    margin-top: 0;
    width: 15px;
    z-index: 99;
}
a.view-reactors {
    padding:6px !important;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
}
ul#reactions {
    list-style-type: none;
    margin:0;
    padding:0;
    max-height:450px;
    overflow-y: scroll;
}
ul#reactions .user .media-object img {
    height:35px;
}
.loading-posts {
    background-color: #fff;
    padding:20px;
    margin-top:20px;
    border-radius:6px;
    font-size:18px;
}
#search-result {
    margin-left:330px;
    position:fixed;
    top: 41px;
    width: 348px;
    z-index: 2000;
}
#search-result .inner {
    /*min-height:50px;*/
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    border-top:2px solid #8c0095;
	max-height:600px;
	overflow:auto;
}
#search-result .inner ul {
    margin:0;
    padding:0;
    padding:10px;
}
#search-result .inner ul li {
    list-style-type: none;
    display:block;
    padding: 5px 10px;
}
#search-result .inner ul li a {
    color: #555;
}
#search-result .inner ul li.first a {

}
#search-result .inner ul li.first a span {
    font-size:21px;
}
#search-result .inner ul li.first a {
    cursor: pointer;
}
#search-result .inner ul li.first a:hover {
    text-decoration: none;
}
.left-column {
    width: 180px;
    margin-right:10px;
}
.middle-column {
    width: 600px;
    margin-right: 10px;
}
.right-column {
    width:230px;
}
.span.left-column {
    width:780px;
}
.span.right-column {
    width:800px;
}
.messages-wrapper {
    height: 600px;
}

/* MESSAGES*/
.messages-wrapper .usr_container,
.messages-wrapper .msg_container{
    float: left;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}
.user-connections .heading h3 {
    margin:0;
    color: #4b4f56;
    font-size:21px;
    margin-top:1px;
}
.usr_container .user-search {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.usr_container .user-search > input {
    height:35px;
}
.connection-wrapper .user{
    border:1px solid #e7e7e7;
    padding-left:5px;
}
.connections-wrapper h3 {
    color: #e2e2e2;
    margin:0;
    padding:15px;
}
.msg_container .heading {
    background: #fcfcfc none repeat scroll 0 0;
    position: absolute;
    width:101%;
}
.user-search > button {
    padding:5px 10px;
    margin-left:-5px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
	height: 35px;
	margin-top: -3px;
}
#msg-username {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.messages-wrapper .usr_container{
    width: 250px;
    border-right: 1px solid #dedede;
    background: #fff;
}
.messages-wrapper .msg_container{
    width: 530px;
    position: relative;
}
.messages-wrapper ul{
    margin: 0;
    padding: 0;
}
.messages-wrapper ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    cursor: pointer;
}
.usr_container .heading {
    background: #fcfcfc none repeat scroll 0 0;
    border-bottom: 1px solid #eceded;
    border-left: medium none;
    border-right: medium none;
    color: #9d9e9f;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    position: relative;
    margin:-2px;
}
.messages-wrapper .usr_container ul li{
    padding: 20px 10px;
    background: #fff;
    border-bottom: 1px solid #dedede;
}
.messages-wrapper .usr_container ul li label{
    display: block;
    width: 100%;
    font-family: arial;
    font-weight: 200;
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.messages-wrapper .usr_container ul li label:hover{
    cursor: pointer;
}
.messages-wrapper .usr_container ul li span{
    color: #777;
    font-family: arial;
    font-size: 14px;
    font-style: italic;
}
.messages-wrapper .usr_container ul li.selected{
    background: #f10084;
}
.messages-wrapper .usr_container ul li.selected time.timeago{
    color: #FFFFFF;
}
.messages-wrapper .usr_container ul li.selected label{
    color: #FFFFFF;
}
.messages-wrapper .usr_container ul li.selected span{
    color: #FFFFFF;
}
.messages-wrapper .usr_container ul li:hover{
    background: #dedede;
    cursor: pointer;
}
.messages-wrapper .msg_container ul{
    padding: 10px 0;
    margin-bottom: 75px;
}
.messages-wrapper .msg_container li{
    padding: 10px 0;
}
.messages-wrapper .msg_container li.others{
    cursor: auto;
    text-align: left;
    padding-left: 20px;
}
.messages-wrapper .msg_container li.self{
    text-align: right;
    cursor: auto;
    padding-right: 20px;
}
.messages-wrapper .msg_container li.self .chat-photo{
    display: inline;
    max-width:30px;
    margin-right: 10px;
}
.messages-wrapper .msg_container li.self .chat-content {
    display: inline;
    max-width:450px;
}
.messages-wrapper .msg_container li.self .chat-content label {
    max-width:150px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.messages-wrapper .msg_container li.self label{
    position: absolute;
    right:20px;
    margin-top:-50px;
    text-align: left;
}
.messages-wrapper .msg_container li label a {
    color: #555555;
}
.messages-wrapper .msg_container li.others .chat-photo{
    float: left;
    max-width:30px;
    margin-right: 10px;
}
.messages-wrapper .msg_container li.others .chat-content {
    display: inline;
    max-width:450px;
}
.messages-wrapper .msg_container li.others .chat-content label {
    max-width:150px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.messages-wrapper .msg_container li .message{
    background: #fff;
    border-radius: 3px;
    padding: 15px;
    max-width: 400px;
    font-size: 15px;
    font-family: arial;
    float: left;
    line-height: 20px;
    margin: 5px 0 10px 0;
}
.messages-wrapper .msg_container li label{
    display: block;
    width: 100%;
    font-size: 12px;
    color: #777;
    font-family: arial;
}
.messages-wrapper .msg_container li.others .message{
    background: #f1f1f1;
}
/* color schemes */
.messages-wrapper .msg_container li.self .message{
    background: #f10084;
    color: #ffffff;
    float: right;
    display: inline-block;
}
/* end color schemes */
.clear{
    clear:both;
}
.send_container{
    border-top: 1px solid #dedede;
    background: #f1f1f1;
    position: absolute;
    height:120px;
    margin-top:525px;
    margin-left:250px;
    width:530px;
}
.send_container .wrap {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    margin:10px;
}
.send_container .wrap .toolbar {
    padding:5px;
}
.send_container .wrap a {
    padding:5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #aaaaaa;
    border-right:1px solid #eee;
}
.send_container .wrap a:hover {
    text-decoration: none;
}
.send_container textarea{
    height: 60px;
    width: 500px;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border: none;
    resize: none;
    outline: none;
    border-bottom: 1px solid #EEEEEE;
}
.send_container textarea *::-moz-placeholder {
    color: #aaaaaa;
}
.send_container input[type="button"]{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: #8c0095;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.btn_send{
    padding: 10px;
    background: #e34749;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.messages-wrapper .msg_container li label.name{
    display: block;
}

textarea.textarea_msg{
    width: 100px;
    height: 120px;
    resize: none;
    margin:20px auto;
    padding: 15px;
    background: #f7f9fd;
    font-size: 15px;
}
.loader{
    display: none;
}
.separator{
    width: 100%;
    height: 1px;
    background: #cdcdcd;
    margin: 50px 0;
}
.fullnames a {
    text-overflow: ellipsis;
    color: #666666;
}
.connection-item {
    border-top: 1px solid #dedede;
    padding-bottom:4px;
    padding-top: 4px;

}
.connection-item:first-child {
    border-top:none;
}
.people-container ul {
    margin:0;
    padding:0;
}
.people-container ul li {
    list-style-type: none;
    padding: 5px 0;
}
.avatar-m {
    width:50px;
    height:50px;
}
.message-item .photo {
    margin-right: 10px;
}
.message-item .content {
    max-width:130px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.message-item .content label {
    font-size: 14px;
}
.loader{
    display: none;
}
.msg_container_topic {
    padding-bottom:75px;
}
.my-connection-suggestions {
    padding: 10px;
    min-height:50px;
}
.my-connections {
    padding:10px;
    min-height:50px;
}
.box .box-title {
    color: #333333;
    border-bottom: 1px solid #e7e7e7;
}
.box .box-title h5 {
    margin-bottom: 10px;
    margin-top:5px;
}
.box .box-content {
    padding:10px;
}
.recent-connection-title{
	 background: #f10084 none repeat scroll 0 0;
    border-color: #f10084;;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding:12px;
    margin:0px;
    color: #FFFFFF;
}

.chat-wrapper .box-title {
    background: #f10084 none repeat scroll 0 0;
    border-color: #f10084;;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;

}

.chat-wrapper .box-title h5 {
    padding-top:5px;
    padding-bottom:5px;
    margin:0px;
    color: #FFFFFF;
}
.chat-wrapper .my-connections {
    padding:0;
    border: none;
}
.chat-wrapper .my-connections.box .box-content {
    max-height:500px;
}
.chat-wrapper .my-connections .box-title, .chat-wrapper .my-connections .box-content {
    padding: 12px;
}
.chat-wrapper .my-connections .box-title {
    padding-bottom: 10px;
    padding-top: 15px;
}
.chat-wrapper .my-connections .box-content .connection-item {
    padding-bottom: 7px;
    padding-top: 7px;
}

time.timeago {
    font-size: 12px;
}
div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 5px;
    color: gray;
}
.profile-cover .profile-name {
    position: absolute;
    top:30px;
    color: #333;
}
.profile-cover .profile-name a {
    font-size:26px;
    /*text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);*/
    color: #333;
    font-weight: bold;
}
.profile-cover .profile-name a + span {
    font-size:13px;
    color: #333;
}
.profile-cover .profile-name a:hover, .profile-cover .profile-name a:focus {
    text-decoration: none;
}
.profile-nav {
    margin-top: 10px;
    background-color: #f6f6f6;
    border-top:1px dashed #CCCCCC;
    min-height:40px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    max-height:40px;
}
.profile-nav ul {
    margin:0;
    padding:0;
    list-style-type: none;
}
.profile-nav ul li {
    padding-top:10px;
    float: left;
}
.profile-nav ul li a {
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid #e7e7e7;
    font-weight:bold;
    height:100%;
}
.profile-nav ul li.active a {
    color: #333;
}
.profile-content {
    margin-top:10px;
}
.profile-content .about-info {
    min-height:250px;
}
.profile-content #feeds-container .comment-box .right {
    max-width:436px;
}
.profile-content .background-label {
    position: absolute;
    left:15px;
    min-width: 100px;
    background-color: #777;
    color: #ffffff;
    padding:10px;
    top:0;
    border-top-left-radius:6px;
    font-weight:bold;
}
.profile-content .p-content {
    margin-top:30px;
    padding:20px;
}
.profile-content .p-content .summary {
    font-size:14px;
    line-height: 20px;
    border-bottom:1px solid #e8e8e8;
    padding-bottom:20px;
    padding-top:20px;
}
.profile-content .p-content .summary header span.title {
    font-size: 16px;
    font-weight:normal;
    color: #434649;
}
.profile-content .p-content .summary header {
    margin-bottom:20px;
}
.status-online {
    width: 8px;
    height: 8px;
    background-color: #690;
    border-radius: 50%;
}
.chat-wrapper .fullnames {
    max-width:130px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.profile-settings {

}
.profile-settings .settings-nav {
    width:200px;
    height:100%;
}
.profile-settings .settings-nav ul {
    margin:0;
    padding:0;
    list-style-type: none;
}
.profile-settings .settings-nav ul li {
    margin-bottom:10px;
}
.profile-settings .settings-nav ul li a {
    padding:10px;
    color: #555;
}
.profile-settings .settings-nav ul li.active a {
    font-weight:bold;
    color: #333;
}
.profile-settings .settings-content {
    min-height:250px;
    height:100%;
    border-left:1px solid #e7e7e7;
    width:550px;
}
.profile-settings .settings-nav ul li.divider {
    margin-top:10px;
    border-top: 1px solid #e7e7e7;
}
.settings-content .settings-title {
    margin-bottom:10px;
    border-bottom: 1px solid #e7e7e7;
}
.profile-settings .settings-content label {
    font-weight:normal;
    color: #555;
}
.box.about-info {
    padding:10px;
    min-height:50px;
}
.about-info ul {
    list-style-type: none;
    margin:0;
    padding-left:0;
}
.about-info ul li {
    display: block;
    padding-top:7px;
    padding-bottom:7px;
}
.about-info .about-item {
    color: #1d2129;
    line-height:16px;
    font-size: 12px;
}
#cover a.file-upload {
    padding:10px;
    color: #FFFFFF;
    position: absolute;
    margin-top:112px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    width:152px;
}
.profile-cover {
    height:300px;
}
.profile-cover .cover {
    background-color: #ffffff;
    height: 250px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}
.profile-cover .cover .action-button {
    margin-top:20px;
    margin-bottom:20px;
}
.profile-cover .cover .profile-photo  a {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    display: block;
    left: 0px;
    padding: 1px;
    top:60px;
    position: absolute;
}
.profile-cover .cover .profile-photo a.profile {
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    background: #f4f4f4;
}
.profile-cover .cover .profile-photo  a > img{
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    border:none;
}
.profile-cover .cover .profile-photo  a + a span.fa{
    color: #DDDDDD;
    position: absolute;
    margin-top:120px;
    left:20px;
}
.profile-cover .cover .profile-photo  a + a:hover, .profile-cover .cover .profile-photo  a + a:focus {
    background-color: #000000;
}
.profile-cover .cover .profile-photo  img {
    height:150px;
    width:150px;
}
.profile-bg{
    background-color: #006699;
    position: absolute;
    min-height:400px;
    height:400px;
    width:100%;
    min-width:100%;
    background: linear-gradient(#a9cfe2,#b6bdbe) !important;
    overflow: hidden;
    z-index: -1;
}
.profile-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.profile-bg-img img{
    position: relative;
    width: 100%;
    min-width: 974px;
}
ul.user-icons > li span.glyphicon {
    font-size: 18px;
	margin-top: 10px;

}
.user-icon-position{
	position: fixed;
}

.badge-notify{
    background:red;
    position:relative;
    top: -15px;
    left: -35px;
}
.profile-card table {
    margin: 10px 0 0;
}
.item-links-container{

}
.item-links-container .account-type {
    font-size: 21px;
    margin-bottom:10px;
}
.item-links-container .items-links {
    margin-bottom: 5px;
}
.item-links-container .items-links .title {
    color: #999;
}
.label-custom {
    background-color: #f10084;
}
.profile-skills{

}
.profile-skills .skill {
    margin-bottom:20px;
}
.profile-skills .skill > span {
    padding-top:8px;
    padding-bottom:8px;
}
.profile-skills .skill-title {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
    background-color: #f0f0f0;
    position: relative;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding-top:-2px;
    padding-bottom:-2px;

}
.shift-left-5{
    margin-left:-5px;
}
/*Advanced search styles*/
.advanced-search-container{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
}
.advanced-search-titles{
	color:#f10084;
	text-align: center;
}

.candidates-panel{
	background-color: #fff;
	padding-top: 10px;
	padding-left: 10px;

}

.candidates-pane2{
	background-color: #fff;
	padding: 10px;
	border-left: 0.5px solid #b2beb5;
	border-right: 0.5px solid #b2beb5;
	height: 100%;

}
.adv-search-result-display{
	height: 100%;
	overflow: auto;
	position: fixed;
	max-height: 450px;
	min-width: 180px;

}
.adv-search-res{
	text-align: left;
}
.adv-search-prof{
	text-align: left;
	color: #000000;

}
.adv-search-prof-photo{
	height:150px;
    width:150px;
	border-radius: 4px;
	margin-top: 20px;
}
.adv-search-account-type{
	font-size: 18px;
	margin-bottom: 10px;
}
.adv-search-country1{
	font-size: 14px;
	margin-bottom: 10px;
	color: #b2beb5;
}
.adv-search-country2{
	font-size: 14px;
	margin-bottom: 10px;
}

.adv-search-background{
	/*position: absolute;*/
    left:15px;
    max-width: 100px;
    background-color: #777;
    color: #ffffff;
    padding:10px;
    margin-top: 35px;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    font-weight:bold;
}
.adv-search-summary-title{
	font-size: 16px;
    font-weight:normal;
    color: #434649;
}
.adv-search-summary{
    border-bottom:1px solid #e8e8e8;
    padding-bottom:20px;
    padding-top:20px;
}
.adv-search-summary-txt{
	margin-top: 20px;
	font-size:14px;
    line-height: 20px;
}
.adv-search-skills-title{
	padding-left: 13px;
    padding-right: 13px;
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
    background-color: #f0f0f0;
    position: relative;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding-top:8px;
    padding-bottom:8px;
}
.adv-search-label{
	background-color: #f10084;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #ffffff;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 4px;
}
.adv-search-skills{
	margin-top: 25px;

}

/*Connections styles*/

.connections-panel{
	background: #ffffff;
	min-height: 600px;

}

.connections-elements{
	margin-top: 20px;
}
.connections-box{
	background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom:10px;
	margin-top: 20px;


}
.connections-box-title{
	text-align: center;
	color: #f10084;
	font-weight: bold;
	margin-top: 20px
}
.bejite-beta{
	margin-left: -20px;
	font-size: 20px;
}
.white-color{
  color: white;
}
a:hover{
  color:#f10084;
}
/*Other Pages style*/

.other-pages-content{
	text-align:justify;
	background:#fff;
	min-height:1000px;
	padding:20px 50px 20px 30px;
	font-size:15px;
}
.other-pages-content h3{
	color: #f10084;
	text-align: center;
}
.terms-content{
	margin-top: 10px;
}
.terms-list ul{
	list-style: square;
}
.other-pages-content ol li{
	margin-top: 30px;
}
.other-pages-content ol ol li{
	list-style: upper-alpha;
}
.how-to-use-content{
	line-height:1.5;
}
.about-bejite-content h3{
	color: black;
}
.about-bejite-content table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}
.about-bejite-content th{
	text-align: center;
}
.privacy-list-items ol{
	list-style: lower-alpha;
}



/* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) and (max-width : 479px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) and (max-width : 767px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width : 991px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width : 1199px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.container{
			width: 1000px;
			padding: 0;
		}

    }
    .bejite-color{
      background-color: #f10084;
      border-bottom: 1px solid transparent;
      border-bottom-color: #ffffff;
      color: white;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;

    }
    .default-padding{
      padding-top: 18px;
      padding-left: 18px;
      padding-bottom: 18px;

    }
    .margin-left-15px{
        margin-left:25px;
    }
