.modal-header {
    padding: 5px 15px;
    background: #0f6188 none repeat scroll 0 0;
    color: #FFFFFF;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.modal-body {
    padding:10px;
}
li a.ajax-loader {
    display: none;
    outline: none;
}